@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

:root {
  --white: white;
  --black: black;
  --link-clr: #eaecf0;
  --link-hover: #d0d5dd;
  --error-clr: #5925dc;
  --text-clr: #475467;
  --font-primary: 'inter', "sans-serif";
  --transition-primary: all 0.2s ease-in;
}

body {
  background-color: var(--white);
  font-family: 'inter', "sans-serif";
}
.main {
  padding: 2.5rem 1.5rem;
}
.avatar {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}
.menu {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.profile {
  text-align: center;
  margin: 1rem 0;
  cursor: default;
}
#profile__img {
  position: relative;
  width: 100px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
}

#slack {
  display: none;
}
.btn {
  width: 100%;
  background-color: var(--link-clr);
  border: 1px solid var(--link-clr);
  padding: 1.2rem;
  font-family: inherit;
  margin: 12px 0;
  border-radius: 8px;
  display: block;
  text-align: center;
  transition: var(--transition-primary);
  color: var(--black);
  font-weight: 500;
  font-size: 1rem;
  /* cursor: pointer; */
}
button a {
  color: var(--black);
  font-size: 1rem;
  font-weight: 500;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}
footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  margin: 2rem 4rem;
  position: relative;
}
footer::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #eaecf0;
  top: -1.4rem;
}
.error-page {
  padding: 5rem 1.5rem 0;
}
.height{
  min-height: 60vh;
  
}
.error404 {
  color: var(--error-clr);
  font-weight: 600;
  font-size: 2rem;
}
.lg-text {
  font-size: 3rem;
  font-weight: 700;
  margin-block: 1rem;
}
.normal-text {
  font-size: 1.2rem;
}
.home-btn {
  background-color: var(--error-clr);
  color: var(--white);
  display: block;
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  margin-block: 1rem;
  font-size: 1.1rem;
  font-weight: 500;
}
.back-btn {
  border: 1px solid var(--link-clr);
  display: block;
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  margin-block: 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--black);
}
.back-btn svg {
  width: 20px;
  margin-right:5px ;
}

/* contact page */
.contact {
  padding: 2rem 1.5rem;
}
.contact h1 {
  color: var(--black);
  font-size: 2.5rem;
  padding-bottom: 1rem;
}
.contact p {
  color: var(--text-clr);
  padding-bottom: 1rem;

}

input[type=text], input[type=email]{
  display: block;
  margin-block: 1rem;
  font-family: var(--font-primary);
  border-radius: 5px;
  border:2px solid #D0D5DD;
  padding: 0.7rem 1rem;
  width: 100%;
  outline: none;
}
textarea{
  display: block;
  font-family: var(--font-primary);
  border-radius: 5px;
  border: 2px solid #D0D5DD;
  padding: 0.7rem 1rem;
  width: 100%;
  outline: none;
  resize: none;
}
#message {
  margin: 1rem 0;
}
input[type=checkbox] {
  margin-right: 0.7rem;
  cursor: pointer;
  width: 15px;
  aspect-ratio: 1/1;
}
.agreement{
  margin: 1rem 0;
  display: block;
}
#btn__submit {
  background-color: #1570EF;
  color: var(--white);
  width: 100%;
  border: 1px solid var(--link-clr);
  padding: 1rem;
  font-family: inherit;
  margin: 1rem 0;
  border-radius: 8px;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  outline: none;
  transition: var(--transition-primary);
}
.msg-success{
  background-color: rgba(0, 128, 0, 0.6);
  color: var(--white);
  text-align: center;
  padding: 1rem;
  border-radius: 4px;
  transition: all 0.2s ease-in;
}
.error{
  border: 2px solid red;
}
.error-text{
  color: red;
}
.success {
  border: 2px solid #D0D5DD;
}
/* MEDIA QUERY */
@media screen and (max-width: 767px) {
  .share-btn {
    display: none;
  }
  .overlay {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .main {
    padding-inline: 7rem;
  }
  button:hover {
    background-color: var(--link-hover);
  }
  .menu {
    display: none;
  }
  .share-btn {
    position: absolute;
    top: 0;
    right: 8rem;
    cursor: pointer;
  }
  .img-container {
    position: relative;
    transition: var(--transition-primary);
  }
  #profile__img {
    width: 100px;
  }

  .overlay {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    inset: 0;
    width: 100%;
    height: 96%;
    border-radius: 50%;
    opacity: 0;
    transition: var(--transition-primary);
  }
  .camera {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  .img-container:hover .overlay {
    opacity: 1;
  }
  footer {
    flex-direction: row;
    justify-content: space-between;
    margin: 5rem;
  }
  .error-page{
    padding: 5rem 10rem;
  }
  .home-btn{
    display: inline-block;
  }
  .back-btn{
    display: inline-block;
    margin-left: 2rem;
    text-align: center;
  }
  .flex-1{
    display: flex;
    flex-direction: reverse;
    gap: 1rem;
  }
  .contact {
    padding: 5rem 10rem;
  }
  .flex-desktop {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 100%;
  }
  .flex-desktop div {
    width: 100%;
  }
}
@media (min-width: 1200px){
  .contact{
    padding: 5rem 20rem;

  }
}
